
/*
    || DEFAULTS
*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #f0f8ff;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #454849;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: #777;
}

    a:hover {
        color: #a3cacc;
    }

    a:active {
        color: #a3cacc;
    }

h3 {
    font-weight: 700;
    margin-top: 0px;
}

h4 {
    font-weight: 700;
    margin-bottom: 0px;
}

h5 {
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #777;
}

p {
    font-size: 12px;
    color: #454849;
    line-height: 16px;
}

ul {
    font-size: 12px;
    line-height: 16px;
}

/*
    || FLEXBOX
*/
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-column-narrow {
    flex-direction: column;
    width: 800px;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-around {
    justify-content: space-around;
}


/*
    || LANDING PAGE
*/

.l-runway {
    height: 100%;
    width: 45%;
}

.l-lane {
    padding-right: 20px;
}

#title:hover {
    color: #797d80;
}

.fade {
    opacity: 0;
    margin: 0;
}

/* 
    || HEADER
*/
.header {
    padding: 80px;
    padding-bottom: 20px;
    text-align: center;
}

    .header h1 {
        font-weight: 700;
        text-align: center;
    }

    .header h2 {
        font-weight: 400;
        text-align: center;
    }

    .header p {
        font-weight: 400;
        color: #777;
        font-size: 16px;
        margin: 0;
    }

    .header .content {
        width: 50%;
        margin: 0 auto;
    }

/*
    || FOOTER
*/

.bottom-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    text-align: center
}

/* 
    || RESUME CONTENT
*/

.resume-content {
    width: 80%;
    margin: 0 auto;
}

    .resume-content .resume-content-block {
        padding: 20px;
        padding-bottom: 0px;
    }


/* || TABLE */

table {
    margin: 5px 0 0 0;
    text-align: left;
    border-collapse: collapse;
    padding: 0;
    border: 0;
    table-layout: fixed;
}

td p {
    margin: 1px;
}

td.key {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
    padding: 0 0.5rem 0 0;
    /*text-align: right;*/
    white-space: nowrap;
}

td.value {
    font-weight: 300;
}

/* 
    || DECORATIONS
*/

.band {
    float: left;
    background: #797d80;
}

.band-thick {
    height: 50px;
    width: 100%;
}

.band-thin {
    height: 10px;
    width: 100%;
    margin: 0 auto;
}

.band-stub {
    height: 10px;
    width: 10%;
}

/* 
    || DEBUGGING
*/

.outlined {
    outline: dashed 1px black;
}

/*
    || MOBILE
*/
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .flex-column-narrow {
        width: 100%;
    }
}
