/*
  || https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
    DEFAULTS
*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    background-color: #f0f8ff;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #aeb4b8;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: #777;
}

    a:hover {
        color: #a3cacc;
    }

    a:active {
        color: #a3cacc;
    }

/*
    || FLEXBOX
*/
.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-around {
    justify-content: space-around;
}


/*
    || LANDING PAGE
*/

.l-runway {
    height: 100%;
    width: 45%;
}

.l-lane {
    padding-right: 20px;
}

/*
    || FADE
*/

#title:hover {
    color: #797d80;
}

.fade {
    opacity: 0;
}
